@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('./assets/images/Background.png');
        background-size: contain;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }

    #button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
    }
</style>


<a href="/Authentication/Login" class="btn btn-primary" id="button">Continue as Client</a>
<a href="/Admin/Auth/Login" class="btn btn-primary" id="button">Continue as Admin</a>
